## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
list0 = random.randint(0,100)

sample_list_0 = []
for i in range(80):
    sample_list_0.append(random.randint(0,100))
print(set(sample_list_0))
len(sample_list_0)

{0, 3, 4, 5, 11, 12, 13, 14, 16, 17, 21, 23, 24, 27, 29, 30, 31, 33, 35, 37, 38, 39, 40, 41, 43, 44, 45, 48, 49, 51, 54, 55, 56, 58, 60, 65, 67, 69, 72, 75, 76, 77, 78, 81, 82, 84, 85, 86, 91, 92, 93, 96, 98, 99, 100}

80

In [4]:
# Your code here

# using random.sample()
# to generate random number list
sample_list_1 = random.sample(range(0, 100), 80)
sample_list_1 
# printing result
#print ("Random number list is : " +  str(sample_list_1))
#len(sample_list_1)

[66,
 33,
 53,
 7,
 92,
 99,
 41,
 77,
 14,
 13,
 90,
 98,
 62,
 3,
 2,
 16,
 21,
 94,
 75,
 39,
 6,
 9,
 88,
 95,
 18,
 71,
 91,
 86,
 64,
 84,
 55,
 82,
 79,
 40,
 50,
 65,
 73,
 48,
 51,
 37,
 67,
 5,
 72,
 63,
 32,
 38,
 76,
 30,
 34,
 4,
 57,
 0,
 27,
 23,
 47,
 89,
 29,
 19,
 8,
 10,
 46,
 97,
 20,
 42,
 68,
 28,
 93,
 52,
 11,
 80,
 26,
 74,
 22,
 31,
 59,
 1,
 49,
 70,
 87,
 25]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
len(set1) #the length still 80 :)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(set(sample_list_2))
len(sample_list_2)

{0, 1, 4, 9, 10, 13, 14, 18, 20, 22, 24, 25, 28, 29, 31, 32, 35, 38, 40, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 58, 59, 61, 62, 71, 74, 76, 78, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 93, 96, 97}

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
len(set2) #NO :( the length is 50 in this case

50

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3 = set1 - set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = set2 - set1
print(set4)

{96, 35, 44, 45, 78, 83, 85, 24, 58, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 4, 9, 10, 13, 14, 18, 20, 22, 25, 28, 29, 31, 32, 38, 40, 46, 47, 48, 49, 50, 52, 53, 55, 59, 62, 71, 74, 76, 80, 82, 86, 87, 88, 89, 90, 91, 93, 97}

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [11]:
# Your code here
len(set1) + len(set2) + len(set3) + 2*len(set5)

250

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here